@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .input-form {
    @apply bg-gray-50 border h-12 border-gray-300 text-gray-900 text-sm rounded-lg focus:border-blue-500 block w-full p-2.5 dark:bg-zinc-800 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-brandBlue-500;
  }
  .text-area-form {
    @apply bg-gray-50 border h-40 border-gray-300 text-gray-900 text-sm rounded-lg focus:border-blue-500 block w-full p-2.5 dark:bg-zinc-800 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-brandBlue-500;
  }
  .label-input-form {
    @apply mt-6 block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300;
  }
 
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family:'Poppins', sans-serif;;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
